<header>
  <div id="global_header">
      OMG, DID YOU KNOW???
  </div>
  <nav id="main_nav">
    <span class="pull-left">
      <a routerLink="/about" routerLinkActive="active">About Us</a>
      <a routerLink="/tutorials" routerLinkActive="active">Lookbook</a>
      <a routerLink="/bios" routerLinkActive="active">Hunnies</a>
    </span>
    <img src="../../../assets/logo.svg" height="50" routerLink="" routerLinkActive="active"/>
    <span class="pull-right">
      <a routerLink="/social" routerLinkActive="active">Follow Us</a>
      <a routerLink="/contact" routerLinkActive="active">Slide into our DM's</a>
    </span>
  </nav>
</header>