

#global_header {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3fb0c6+1,f3c517+51,f15f5e+100 */
  background: #3fb0c6; /* Old browsers */
  background: -moz-linear-gradient(left, #3fb0c6 1%, #f3c517 51%, #f15f5e 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #3fb0c6 1%,#f3c517 51%,#f15f5e 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #3fb0c6 1%,#f3c517 51%,#f15f5e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3fb0c6', endColorstr='#f15f5e',GradientType=1 ); /* IE6-9 */
  height: 40px;
  line-height: 40px;
  text-align: center;
  width: 100%;
}

#main_nav {
  background: #fff;
  box-shadow: 0 5px 13px rgba(0,0,0,.15);
  line-height: 70px;
  position: relative;
  text-align: center;
}

#main_nav::after {
  clear: both;
  content: " ";
  display: table;
}

#main_nav img{
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

#main_nav a{
  color: #f15d5e;
  font-style: italic;
  font-weight: 600;
  padding: 0 25px;
  text-transform: uppercase;
}